doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/handlebars.min.js')
    script(src='/static/jquery/dist/jquery.min.js')
  body
    block content
